version: "3.9"
services:
  pg-identity:
    image: postgres:16
    environment:
      POSTGRES_USER: identity
      POSTGRES_PASSWORD: identitypwd
      POSTGRES_DB: identitydb
    ports: [ "5433:5432" ]
    volumes: [ "pg_identity:/var/lib/postgresql/data" ]

  pg-apps:
    image: postgres:16
    environment:
      POSTGRES_USER: apps
      POSTGRES_PASSWORD: appspwd
      POSTGRES_DB: appsdb
    ports: [ "5434:5432" ]
    volumes: [ "pg_apps:/var/lib/postgresql/data" ]

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  seq:
    image: datalust/seq:2024
    environment:
      ACCEPT_EULA: "Y"
    ports: [ "5341:80" ]
volumes:
  pg_identity: {}
  pg_apps: {}
